.vscode/
Mem
xrun.*
waves.shm
xcelium.d
.simvision
INCA_libs
*.log
*.history
*.fsdb
*.key
verisium_debug_logs
.verisium_debug_auto_save
verisium_debug_logs_backup
.reset_sync_save
.reinvoke.sim
ida.db
.probeFlags.flg
coverage_db
cov_work